body{
    padding: 0;
    margin: 0;
    background-color:#e8eaf6;
}

#article{
    margin-left: 5%;
    margin-right: 5%;
    padding: 0;
    min-width: 600px;
}

#article .head{
    margin: 0;
    padding:1em;
    background-color: #1A237E;
}

#article .head p.title {
    font-family: sans-serif, serif;
    font-size: 1.5em;
    color:white;
    padding: 0;
    margin: 0;
}

#article .head p.slogan {
    font-family: 'Times New Roman', serif;
    color:white;
    padding: 0;
    margin: 0;
}

#article nav {
    margin: 0;
    margin-bottom: 0.5em;
    padding: 0 0.7em;
    background-color: #3F51B5;
}

nav ul{
    margin: 0;
    padding: 0.3em 0;
    list-style-type: none;
}

nav ul li{
    display: inline; 
    padding: 0;
}

a {
    padding:0.3em;
    color: #00B0FF;
}

a.change:hover{
    color:white;
    background-color: #F50057;
}

#sections{
    margin-bottom: 0.5em;
    padding: 0.5em;
    background-color: white;
}

#sections section{
    margin-bottom: 0.5em;  
    border: 1px solid #C5CAE9;
    background-color:#C5CAE9; 
    font-family: 'Times New Roman', serif;
}

p {
    margin: 0;
    padding: 0.5em 1em; 
}

#sections section .title{
    margin: 0;
    padding: 1em;
    background-color:#7986CB;
    color: white;
    font-family: sans-serif, serif;
}

#sections section .widthMax{
    width:100%;
}

#sections section .imgName{
    color: #7990A3;
}

#sections section .comments{
    background-color: white;
}

#sections section .options{
    text-align: right;
}

#sections section .photoList img{
    vertical-align: bottom
}
#sections section .user{
    padding-bottom:0; 
}

.top{
    padding-top:0; 
}

#sections #Bottom{
    margin-bottom:0; 
}

#sections section .name{
    color: #C5CAE9;
}

#sections section .date{
    color: #F5A2C1;
}

hr{
    margin-left: 0.8em;
    margin-right: 0.8em;
}

footer{
    margin: 0;
    padding:0.7em;
    background-color: #1A237E;
    color:white;
}

footer .nav{
    margin: 0;
    padding: 0.3em 0;
}

footer .copyright{
    padding: 0.3em 0;
    font-style:italic;
}
